<div class="contenedor">
    <form class="example-container" [formGroup]="form" #frmChange="ngForm" (ngSubmit)="registrar()">
        <mat-card>
            <mat-card-header>Cambio de Contraseña</mat-card-header>
            <mat-card-content><br>
                <div>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Usuario" formControlName="user_name" required readonly>
                    </mat-form-field>
                </div><br>
                <div>
                    <mat-form-field class="example-full-width">
                        <input matInput type="password" placeholder="Actual contraseña" formControlName="actual_clave"
                            required>
                    </mat-form-field>
                </div><br>
                <div>
                    <mat-form-field class="example-full-width">
                        <input matInput type="password" placeholder="Nueva contraseña" formControlName="nueva_clave"
                            required>
                    </mat-form-field>
                </div><br>
                <button mat-raised-button color="primary" type="submit" [disabled]="frmChange.invalid">
                    <mat-icon>done</mat-icon>
                    <span>Aceptar</span>
                  </button>
                  <button mat-raised-button color="accent" type="button" routerLink="/perfil">
                    <mat-icon>cancel</mat-icon>
                    <span>Cancelar</span>
                  </button>
            </mat-card-content>
        </mat-card>
    </form>
</div>