<div class="container">
  <router-outlet></router-outlet>
</div>
<div class="contenedor">
    <mat-card>
        <mat-card-header>
          <div mat-card-avatar><img class="acomodar-imagen" *ngIf="imagenEstado" [src]="imagenData" alt="Photo of a Shiba Inu"></div>
          <mat-card-title>Usuario</mat-card-title>
          <mat-card-subtitle>{{user_name}}</mat-card-subtitle>
        </mat-card-header>
        <img style="border-radius: 50%;" *ngIf="imagenEstado" [src]="imagenData" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <div mat-subheader>Roles</div>
            <mat-list *ngFor="let item of roles">
                <mat-list-item>{{item}}</mat-list-item>
                <mat-divider></mat-divider>
              </mat-list>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button color="primary" [routerLink]="['/perfil/changePassword']" routerLinkActive="router-link-active" >Cambiar Contraseña</button>
        </mat-card-actions>
      </mat-card>
</div>
