<mat-toolbar>Roles</mat-toolbar>
<router-outlet></router-outlet><br>
<mat-form-field>
    <input matInput (keyup)="filter($event.target.value)" placeholder="Buscar roles">
</mat-form-field>

<mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="idRol">
        <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.idRol}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="nombre">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.nombre}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="descripcion">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Descripcion </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.descripcion}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="acciones">
        <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
        <mat-cell *matCellDef="let row">
            <button mat-icon-button color="primary" [routerLink]="['edicion',row.idRol]">
                <mat-icon>ballot</mat-icon>
            </button>
            <button mat-icon-button color="accent" (click)="eliminar(row)">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<mat-paginator [pageSize]="10" [pageSizeOptions]="[2, 4, 6, 50]" [length]="cantidad" (page)="mostrarMas($event)">
</mat-paginator>

<button mat-fab color="accent" style="float: right" routerLink="/rol/nuevo">
    <mat-icon>create</mat-icon>
</button>