<mat-dialog-content class="mat-typography">
  <form class="example-container" [formGroup]="form" #frmCliente="ngForm" (ngSubmit)="registrar()">
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>account_box</mat-icon>
          Datos de Cliente
        </ng-template>
        <br>
        <div hidden>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="ID" formControlName="idCliente">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Dni" formControlName="dni">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Nombres" formControlName="nombres">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Apellidos" formControlName="apellidos">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Fecha Nacimiento" [max]="maxFecha"
              formControlName="fechaNac">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div>
          <button type="button" mat-raised-button color="primary"
            onclick="document.getElementById('flArchivo').click();">Seleccionar Archivo</button><br><br>
          <input formControlName="file" id="flArchivo" accept="image/x-png,image/gif,image/jpeg" type="file"
            (change)="seleccionarArchivo($event)" style="display: none">
            <p style="color: red;" *ngIf="foto_invalida">El tamaño de la foto es muy grande!</p>
          <img id="image" [src]="imagenData" width="240px" height="320px">
          <p>{{labelFile}}</p>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>security</mat-icon>
          Datos de usuario
        </ng-template>
        <br>
        <div hidden>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="ID" required formControlName="idUsuario">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Nombre usuario" formControlName="nombre">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="example-full-width">
            <mat-select placeholder="Roles" [(value)]="idRolSeleccionado" formControlName="roles">
              <mat-option *ngFor="let r of roles" [value]="r.idRol">
                {{r.descripcion}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="example-full-width">
            <input matInput type="password" name="password" placeholder="Contraseña" formControlName="password">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="example-full-width">
            <input matInput type="password" placeholder="Repetir contraseña" formControlName="confirmPassword">
          </mat-form-field>
          <input hidden matInput type="text" formControlName="passwordhide">
        </div>
        <div>
          <mat-checkbox formControlName="estado">Activo</mat-checkbox>
        </div>
      </mat-tab>
    </mat-tab-group>
    <mat-dialog-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="frmCliente.invalid">Registrar</button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>