<mat-sidenav-container class="all-wrap" fullscreen>
    <mat-sidenav #sidenav style="width: 200px">
        <img src="assets/mitocode.png" width="128" style="margin-left: 20px">

        <div *ngFor="let m of menus">
            <button mat-menu-item (click)="sidenav.toggle()" routerLink="{{m.url}}" style="cursor: pointer">
                <mat-icon>{{m.icono}}</mat-icon>
                <span>{{m.nombre}}</span>
            </button>
            <mat-divider></mat-divider>
        </div>


        <!-- 
        <button mat-menu-item (click)="sidenav.toggle()" routerLink="/consulta" style="cursor: pointer">
            <mat-icon>search</mat-icon>
            <span>Consultas</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="sidenav.toggle()" routerLink="/venta" style="cursor: pointer">
            <mat-icon>bookmarks</mat-icon>
            <span>Venta Entradas</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="sidenav.toggle()" routerLink="/cliente" style="cursor: pointer">
            <mat-icon>insert_emoticon</mat-icon>
            <span>Clientes</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="sidenav.toggle()" routerLink="/pelicula" style="cursor: pointer">
            <mat-icon>local_movies</mat-icon>
            <span>Peliculas</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="sidenav.toggle()" routerLink="/comida" style="cursor: pointer">
            <mat-icon>fastfood</mat-icon>
            <span>Comidas</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="sidenav.toggle()" routerLink="/genero" style="cursor: pointer">
            <mat-icon>view_agenda</mat-icon>
            <span>Géneros</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="sidenav.toggle()" routerLink="/reporte" style="cursor: pointer">
            <mat-icon>assessment</mat-icon>
            <span>Reportes</span>
        </button>
        <button mat-menu-item (click)="sidenav.toggle()" routerLink="/configuracion" style="cursor: pointer">
            <mat-icon>build</mat-icon>
            <span>Configuraciones</span>
        </button>
        -->
    </mat-sidenav>

    <div class="page-wrap">
        <header role="banner">
            <mat-toolbar color="primary" class="example-toolbar" *ngIf="loginService.estaLogueado()">
                <button mat-icon-button (click)="sidenav.toggle()">
                    <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
                    <mat-icon *ngIf="sidenav.opened">close</mat-icon>
                </button>

                <h1 class="app-name">MITOCINE</h1>

                <span class="spacer"></span>

                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                </button>

                <mat-menu #menu="matMenu">
                    <button mat-menu-item routerLink="/perfil">
                        <mat-icon>account_box</mat-icon>
                        <span>Mi Perfil</span>
                    </button>
                    <button mat-menu-item (click)="sidenav.opened = false" (click)="loginService.cerrarSesion()">
                        <mat-icon>exit_to_app</mat-icon>
                        <span>Cerrar Sesión</span>
                    </button>
                </mat-menu>
            </mat-toolbar>
        </header>

        <main class="content">
            <router-outlet></router-outlet>
        </main>
        <footer class="footer">
            MitoCode Network - 2020 | Angular CineAp
        </footer>
    </div>
</mat-sidenav-container>