<form class="example-container" [formGroup]="form" #frmRol="ngForm" (ngSubmit)="operar()">
    <div [hidden]="true">
        <mat-form-field>
            <input matInput formControlName="idRol">
        </mat-form-field>
    </div>
    <mat-form-field>
        <input matInput placeholder="Nombre" formControlName="nombre">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Descripcion" formControlName="descripcion">
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="frmRol.invalid">Aceptar</button>
    <button mat-raised-button color="accent" type="button" routerLink="/rol">Cancelar</button>
</form>